<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>

    <div id="content">
        <div class="scrollable">
            <%- body %>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>