@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    font-family: 'Unica One';
    color:white
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('https://gregory-bourguin-fsjs-tps.herokuapp.com/images/jarvis.jpg');
    background-size: cover;
    background-position: center;
}

header, footer{
    height: auto;
    color:white;
    padding: 1em;
}

footer{
    text-align: center;
}

#title{
    font-size : 3em;
    letter-spacing: 0.3em;
    width:100%;
    text-align: center;
}

#log{
    display: float;
    float: right;
    top:1em;
    right:1em;
    position: absolute;
    color:white;
    background: blue;
    padding: 0.75em;
    border-radius: 10px 10px 10px 10px;
}

#mark{
    display: float;
    float: left;
    top:1em;
    left:1em;
    position: absolute;
    color:white;

}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#containForm{
    background: rgb(55, 35, 114);
    width: 400px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

#containForm > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}