<header>

    <div id="titreHeader">Démo Routage Express</div>
    <div id="containButtonHeader">
        <button id="buttonHeader1" onclick="window.location.href='/'">Accueil</button>
        <button id="buttonHeader2" onclick="window.location.href='/ex4/backend/views/partials/about.ejs'">A propos</button>
    </div>

</header>