*{
    font-family: Comic Sans MS;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header, footer{
    height: auto;
    display: flex;
    background: grey;
    color:white;
    padding: 1em;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}


header{
    display: flex;
    flex-wrap: nowrap;
}

#titreHeader{
    text-align: left;
    font-size:4em;
    width: 75%;
    height: auto;
}

#containButtonHeader{
    width: 25%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#containButtonHeader button{
    color:white;
    padding: 0.5em;
    font-size:1.2em;
    width: 45%;
    height: auto;
    top:auto;
    text-align: center;
    background: rgb(53, 51, 92);
    border: 0;
}

#buttonHeader1{
    border-radius: 10px 0 0 10px
}

#buttonHeader2{
    border-radius: 0 10px 10px 0
}

#containButtonHeader button:hover{
    background: rgb(39, 37, 67);
}

footer > p{
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.joke{
    font-size:1.25em;
    width:90%;
    height: auto;
    padding : 1em;
    margin-left:5%;
    box-shadow: 5px 5px 5px grey;
    background: lightgray;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}