<%
if(user.sex == "M"){
    nameUser = "Mr. " + user.nickname
}
else{
    nameUser = "Mme. " + user.nickname
}
%>  

<h1 id='titleHome'>Bienvenue sur Démo Routage Express</h1>
<img id="imgHome" src='http://web.gregory-bourguin.fr/download/node/routing.png'/>


