<div >
	<%
    for (j of jokes){ %>
     <div id ="jokes">
         <a href="/jokes/joke/<%=j.id%>">
            <p class="joke">
                <%=j.joke%>
            </p>
        </a>
     </div>
 	<%}

 	%>
</div>