<form action="/form" method="POST">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="submit" value="Submit">
</form>