<header>

    <div id="titreHeader">Dad's Jokes</div>
    <div id="containButtonHeader">
        <button id="buttonHeader1" onclick="window.location.href='/'">All</button>
        <button id="buttonHeader2" onclick="window.location.href='/jokes/random'">Random</button>
    </div>

</header>